credentials.toml
logs.log

# [STILL ALPHA] Powered by Selenium and Ntfy.sh, this script access your Ufuture and if any notification present, ntfy.sh will push it to your mobile device, granted you install ntfy.sh and configure same server name with your config. 